.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    color: aquamarine;
    
}

.carruselsSuperiores{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
}
.carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:  70%;
    height: auto;
}
.carouselImg{
    width: 100%;
    height: 350px;
    border-radius: 20px;
    
}
.carouselObject{
    width: 400px;
    height: 300px;
    margin: 0 auto;
}
.carousel h2{
    text-align: center;
    color:aquamarine;
    font-weight: 700;
    font-size: 26px;
}


/* Contenedor titulo */
.contenedor-titulo-controles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top:  0px;
}

.contenedor-titulo-controles h2{
    color: aquamarine;
    font-size: 26px;
    font-weight: 700;
    margin: 0px;
}

.contenedor-titulo-controles .indicadores button{
    background: white;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 10px;
}
.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo{
    background: red;
}
/* Contenedor principal del carrousel multi imagen */
.contenedor-peliculas-recomendadas{
    display: flex;
    flex-direction: column;
    width: 1320px;
    height: auto;
    margin: 50px;
}
.contenedor-peliculas-recomendadas .contenedor-principal {
    display:flex;
    align-items: center;
    position: relative;
    height: auto;
}
.contenedor-peliculas-recomendadas .contenedor-principal .flecha-derecha,
.contenedor-peliculas-recomendadas .contenedor-principal .flecha-izquierda{
    position: absolute;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: white;
    cursor: pointer;
    z-index: 500;
    transition: 0.3s ease all;
}
.contenedor-peliculas-recomendadas .contenedor-principal .flecha-derecha{
    right: 0;
}
.contenedor-peliculas-recomendadas .contenedor-principal .flecha-izquierda{
    left: 0;
}

.contenedor-peliculas-recomendadas .contenedor-principal .flecha-derecha:hover,
.contenedor-peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover{
    background: rgba(0, 0, 0, 0.85);

}

/* carrusel de 5 img*/

.contenedor-peliculas-recomendadas .contenedor-carousel{
    width: 100%;
    height: auto;
    padding: 20px 0px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.contenedor-peliculas-recomendadas .contenedor-carousel .carousel_row{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
}

.contenedor-peliculas-recomendadas .contenedor-carousel .carousel_row .pelicula{
    min-width: 20%;
    height: auto;
    transition: 0.3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.contenedor-peliculas-recomendadas .contenedor-carousel .carousel_row .pelicula img{
    width: 100%;
    height: 150px;
    vertical-align: top;
    transition: 0.3s ease all;
}
.contenedor-peliculas-recomendadas .contenedor-carousel .carousel_row .pelicula img:hover{
    scale: 1.15;
    transform-origin: center;
}

.contenedor-peliculas-coleccion{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.pelicula-coleccion{
    display: flex;
    justify-content: center;
    width: calc(100%/5 - 80px);
    height: auto;
    margin: 15px;
    

}
.pelicula-coleccion img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

@media (width < 1124px){
    .carruselsSuperiores{
        width: 100%;
        height: auto;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .carousel{
        width: 70%;
        height: auto;
        margin-block: 30px;
    }
    .carouselObject{
        width: 90%;
        height: 300px;
    }
    .contenedor-peliculas-recomendadas{
        display: none;
    }
    .pelicula-coleccion{
        display: flex;
        justify-content: center;
        width: calc((100% - 160px)/4);
        height: auto;
        margin: 20px;
        
    
    }
    .pelicula-coleccion img{
        height: 250px;
        border-radius: 10px;
    }
}

@media (width < 776px){
    .carruselsSuperiores{
        flex-flow: column;
    }
    .carousel{
        width: 90%;
    }
    .pelicula-coleccion{
        display: flex;
        justify-content: center;
        width: calc((100% - 80px)/2);
        height: auto;
        margin: 20px;
        
    
    }
    .pelicula-coleccion img{
        height: 250px;
        border-radius: 10px;
    }
}
