
.buscador{
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
}
.tableUsers{
  display: block;
  width: 100%;
  border-collapse: collapse;
}
.tableFoundUsers{
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 500px;
  margin-right: 40px; 
}
table thead, table tbody{
  border: 5px solid aquamarine;
}

.tableFoundUsers_table {
    display: block;
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;

}
.tableFoundUsers_table tr{
  width: 300px;
  height: 70px;
}

table th, table td {
  color:white;
  border: 3px solid aquamarine;
  padding: 10px;
  text-align: center;
  width: 300px;

}
table th {
  background-color: #000000;
  font-weight: bold;
}

table tr:hover {
  background-color: #423d3d;
}
