
nav{
    padding: 20px;
    color:white;
    background-color: black;
}
ul{
    display: flex;
    justify-content: space-evenly;
    margin: 0 !important;
    align-items: center;
    color: black;
}
nav ul .btn.btn-primary{
    font-size: 22px;
}
nav ul li:hover{
    transform: translateY(0.1rem);
    scale: 1.025;
}

nav ul li link{
    text-decoration: none;
}
