
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    height: 100px;
    padding: 20px;
    color:white;
    background-color: black;
    color: aquamarine;
}
.logoNav{
    font-size: 48px;
    color: aqua;
}
ul{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: flex-end;
    margin: 0 !important;
    align-items: center;
    color: black;
}
nav ul li:hover{
    transform: translateY(0.1rem);
    scale: 1.025;
}

nav ul li link{
    text-decoration: none;
    
}

.btnNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: aquamarine;
    margin: 5px 40px;
}
.logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    background-color: yellow;
    border: 3px solid orange;
    border-radius: 10px;
}

