
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    height: 100px;
    padding: 20px;
    color:white;
    background-color: black;
    color: aquamarine;
}
.logoNav{
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    font-size: 40px;
    color: aqua;
}

ul{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: flex-end;
    margin: 0 !important;
    align-items: center;
    color: black;
}
nav ul li:hover{
    transform: translateY(0.1rem);
    scale: 1.025;
}

nav ul li link{
    text-decoration: none;
    
}

.btnNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: aquamarine;
    margin: 5px 40px;
}
.btnNav i{
    margin-right: 5px;
}
.logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    background-color: yellow;
    border: 3px solid orange;
    border-radius: 10px;
}

@media screen and (max-width: 1120px) {
    nav{
        height: 120px;
    }
    .logoNav{
        width: 200px;
        font-size: 32px;
        text-align: center;
    }
    ul{
        
    }
    nav ul li:hover{
        
    }
    
    nav ul li link{
        
        
    }
    
    .btnNav{
        font-size: 16px;
    }
    .btnNav i{
        font-size: 18px;
    }
    .logout{
        
    }
}

@media screen and (max-width: 820px) {
    .logoNav{
        width: 150px;
        font-size: 28px;
        text-align: center;
    }
    .btnNav{
        font-size: 14px;
    }
    .btnNav i{
        font-size: 18px;
    }
}